{% block title %}
{% endblock %}

{% block content %}
  <body style="background-image:url('/static/background/bg.jpg'); background-size: cover;">
   <p style="text-align: center;transform: translateX(55px);" id = "currgt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Current Average Regret: 0</p>
  </body>

{% endblock %}

{% block style %}
<style>
  table{
    border-spacing: 10px;
  }
  table, th, td {
    border:0px solid black;
    border-radius: 10px;
  }
  tr{
    height: 80px;
  }
  td{
    width: 80px;
    font-size: 21px;
    text-align: center;
    font-family: "Courier New", Courier,monospace;
  }
  .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 3%;
  }
  #att, #def{
    display: block;
    height: 90%;
    width: 90%;
  }
  </style>
{% endblock %}
{% block javascript %}
   <script src="/static/scripts/anseki-leader-line/leader-line.min.js"></script>
   <script>
      var l = {{l_res | safe}}
      var f = {{f_res | safe}}
      var rinfo = {{R | safe}} 
      var cinfo = {{C | safe}}
      var rgtinfo = {{rgt_res | safe}}
      var coords = [];
      for(let i = 0; i < l.length; i++){
         var cur = [l[i], f[i]];
         coords.push(cur);
      }
      const curRGT = document.getElementById("currgt");
      const table = document.createElement('table');
      for(let i=0; i<{{m}}+1; i++) {
        const row = document.createElement('tr');
        for(let j=0; j<{{n}}+1; j++) {
          const cell = document.createElement('td');
          cell.innerHTML = '';
          if(i == 0 || j == 0 || i == {{m}}+1 || j == {{n}}+1){
            cell.style.backgroundColor = '#FFFFFF';
            if(i==0 && j>0 && j <{{n}}+1){
              cell.innerHTML = String(j);
            }
            if(j==0 && i>0 && i <{{n}}+1){
              cell.innerHTML = String(i);
            }
          }
          else {cell.style.backgroundColor = '#AAAAAA';
          }
          row.appendChild(cell);
        }
        table.appendChild(row);
      }
      table.style.fontSize = "x-large";
      table.style.margin = "auto";
      table.className = "table";
      document.body.appendChild(table);
      var cnt = 0;
      function sleep(ms) {
        return new Promise(
          resolve => setTimeout(resolve, ms)
        );
      }
      sleep(4000);
      async function coloring(){
        for(let coord of coords){
          //await sleep(100);
          var cur_rgt = rgtinfo[cnt];
          cnt++;
          curRGT.innerHTML = '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Current Average Regret: ' + String(cur_rgt).substring(0,4);
          const [x,y] = coord;
          const cell = table.rows[x+1].cells[y+1];
          const lead = table.rows[0].cells[y+1];
          const foll = table.rows[x+1].cells[0];
          lead.innerHTML="<img src='/static/elements/att.png' alt='attacker' class='center' id = 'att'>";
          foll.innerHTML="<img src='/static/elements/def.png' alt='defender' class='center' id = 'def'>";
          var noise = rinfo[x][y] + (Math.random() * 2 - 1)/10;
          if (noise > 1) noise = 1;
          if (noise < -1) noise = -1;

          cell.innerHTML=String(noise).substring(0, noise > 0 ? 4 : 5);
          const r = Math.floor((1.0 - noise)*255);
          const g = Math.floor(noise * 255);
          cell.style.backgroundColor = "rgb("+r+","+g+","+"0"+")";
          /*
          if(noise >= 0.8){
            cell.style.backgroundColor = '#063b00';
            cell.style.color = "white";
          }
          else if (noise >=0.6){
            cell.style.backgroundColor = '#0a5d00';
          }
          else if (noise >=0.4){
            cell.style.backgroundColor = '#089000';
          }
          else if (noise >=0.2){
            cell.style.backgroundColor = '#1fc600';
          }
          else if (noise >=0){
            cell.style.backgroundColor = 'rgba(255,255,0,0)';    
          }
          else if (noise >=-0.2){
            cell.style.backgroundColor = '#ff0000';  
          }
          else if (noise >=-0.4){
            cell.style.backgroundColor = '#c80000';       
          }
          else if (noise >=-0.6){
            cell.style.backgroundColor = '#b10000';       
          }
          else if (noise >=-0.8){
            cell.style.backgroundColor = '#7b0000';       
          }
          else{
            cell.style.backgroundColor = '#300000';   
            cell.style.color = "white";
          }
          */
          if(noise > 0) {
            cell.style.backgroundColor = "rgba(31,198,0," + noise + ")";
          }
          else{
            cell.style.backgroundColor = "rgba(255,0,0," + (-noise) + ")";
          }
          var line1 = new LeaderLine(lead, cell, {  
            startPlugColor: '#1a6be0',
            endPlugColor: '#1efdaa',
            gradient: true, 
            dash: {animation: true},
            dropShadow: true,
            hide: true
          });
          var line2 = new LeaderLine(foll, cell, {  
            startPlugColor: '#1a6be0',
            endPlugColor: '#1efdaa',
            gradient: true, 
            dash: {animation: true},
            dropShadow: true,
            hide: true
          });
          line1.show('draw');
          line2.show('draw');
          await sleep(1000);
          cell.style.backgroundColor = '#AAAAAA';
          cell.style.color = "black";
          lead.innerHTML=String(y+1);
          foll.innerHTML=String(x+1);
          line1.remove();
          line2.remove();
        }
      }
      coloring();

</script>
{% endblock %}